.git
.gitignore
.qodo
.env
.env.*
.secrets
node_modules
web/node_modules
web/dist
coverage
*.log
api
cmd
*.tmp
*.db
*.db.*
*.sqlite
*.sqlite3
migrate
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
.github
docs
bin
dist
*.tsbuildinfo
go.work
